

/* Major classes */

	 html, body, div, span {
		margin: 0px;
		padding: 0px;
		font-family: 'Lato', sans-serif;	

		
} 

	.remove-decoration {
		text-decoration: none !important;
		border-bottom: none !important;
	}

	.js {

		text-transform: italic;
	}

	ul, li {
    margin: 0;
    padding: 0;
	}

	body {
		margin: 0;
		padding: 0;
		border: 0;
		background-color: white;	
		}






/* Header */



	#header  {
		height: 60px;
		line-height: 20px;
		position: fixed;
		width: 100%;
		z-index: 1000;
		overflow: hidden;
		transition: ase-in-out 2s !important;
		-webkit-transition: ease-in-out 1s !important;
	}	

	#header  nav {
		font-size: 110%;
		font-weight: bolder;
		float: right;
		padding-top: 0px;
		text-transform: uppercase;
		transition: ease 1s !important;
		-webkit-transition: ease-in-out 1s !important;
		-moz-transition: ease-in-out 1s !important;
	}

	

	#header nav a {
		margin-left: 13px !important;
		margin-right: 13px !important;
		transition: 0.5s ease-in-out;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-ms-transition: 0.5s ease-in-out;		
	}

	#header nav a:hover {
		color: white;
		text-decoration: none;
		transition: 0.5s ease-in-out;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-ms-transition: 0.5s ease-in-out;		

	}

	#header nav a {
		transition: ease 0.3s !important;
		-webkit-transition: ease-in-out 0.3s !important;
		-moz-transition: ease-in-out 0.3s !important; 

	}

	#header nav a:active {
		color: black !important;
		transition: ease 0.1s !important;
		-webkit-transition: ease-in-out 0.3s !important;
		-moz-transition: ease-in-out 0.3s !important;

	}


	

/* More header */


	.active {
		text-decoration: none !important;
	}




	#contac {
		padding: 6px;
		border: solid 1.2px #337ab7 !important;
		text-decoration: none !important;
		border-radius: 7%;
		color: #337ab7;

	}

	#contac:hover {
		border: solid 1.2px white !important;
	}




/* Background Image */

	.banner {
		height: 650px;
		background-image: url("images/beach-1b.jpg") ; 
		background-size: auto, cover;
		background-position: center, center;

		/* Full height */
	    

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin-top: 0;
			}



	


	/* Scroll Nav */

					


					.nav.past-main {
				    	background-color: #163A5D !important;
				    	opacity: 0.9 !important;
				    	margin: 0px 0px !important;
				    	z-index: 1;
				    	width: 100% !important;
				    	height: 60px !important;
				    	font-size: 120% !important;
				    	color: white !important;
				    	padding-top: 15px !important;
				    	text-decoration: none !important;
				    	transition: ease 0.8s !important;
				    	-webkit-transition: ease-in-out 0.8s !important;
					}

					.navigation.past-main nav {
					}

					.navigation.past-main a {
						
					}







/* LOGO */

	.logo {
		width: 70%;
		padding-top: 20px;
		padding-left: 25px;


	}

	#landing {
		height: 280px;
		margin: auto;
		width: 70%;
		padding: 110px 5px 300px 5px;


	}

	#landing h1 {
		word-spacing: 10.8px;
		letter-spacing: 2.5px;
		text-align: center;
    	margin: auto auto;
    	font-size: 40px;
    	line-height: 50px;
    	font-family: 'Varela Round', sans-serif;
    	font-weight: normal;
    	color: white;

    }

    #button-banner {
    	height: 60px;
    	margin: auto;
    	margin-top: 30px;
    	width: 60%;
    	text-align: center;


    }


    #btn {
    	height: 50px;
    	background:  transparent;
     	line-height:  40px;
     	border:  1.5px solid #3375C3;
		display:  inline-block;
		float:  none;
		text-align:  center;
		width:  150px;
		padding:  0px !important;
		font-size:  24px;
		border-radius: 3.5%;
		color: #3375C3;
		font-family: 'Varela Round', cursive;
		transition: 0.8s ease-in-out;
		-webkit-transition: 0.8s ease-in-out;
		-moz-transition: 0.8s ease-in-out;
		-ms-transition: 0.8s ease-in-out;


    }

    #btn:hover {
    	color: black;
    	border: 1.5px solid black;
    	transition: 0.8s ease-in-out;
		-webkit-transition: 0.8s ease-in-out;
		-moz-transition: 0.8s ease-in-out;
		-ms-transition: 0.8s ease-in-out;
    }










    /* ABOUT PAGE */

	#about {
		background-color: #efefef !important;
		padding: 60px 60px 80px 60px;
		background-color: white;
		text-align: justify;
		font-size: 120%;
		color: #56554f;

	}

	#about h1 {
		font-size: 30px;
		padding-top: 20px;
		margin-bottom: 70px;
		text-align: center;
		font-family: 'Varela Round', sans-serif;
	}

	#about p {
		line-height: 40px;
		margin: 0 auto;
		width: 40%;
		text-align: center;

	}


	.vector {
		
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		padding-top: 20px;
	}

	.vector img {
		margin: 0 auto !important;
		text-align: center;
	}

	.oystline {
		display: inline;
		width: 20px;
		height: 5px;
		margin: 0 auto !important;
		text-align: center;
		
	
	}

	.mainpageoyst {
		padding-bottom: 50px !important;
		border: 2px solid;
		
	}

	.oyst-inner{ 
		margin: 0 auto;
		width: 60%;
		border: 2px solid;

	}

	.home-vector {
		margin: 0 !important;
	}

	#otsrer-vect {
		margin: 0;

		
	}





/* Team */

	#team {
		background-color: #e2e2e2;
		text-align: center;
		padding-top: 50px;
	}

	#team h1 {
		font-size: 65px;
		margin: 0px auto 100px auto;
		text-align: center !important;
		font-family: 'Varela Round', cursive;		
		z-index: 1;
	}

	.headshots {
		border-radius: 50%;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}


	/* .row {
    margin-left: 5px;
    margin-right: 5px;

	} */

	.col-md-4 h3 {
		text-align: center;

	}
	

	.col-md-4 {
		
		background: #d6e3f3;
		border-radius: 3%;
		padding: 0px;
		margin: 20px;
		margin-bottom: 100px;
		width: 27%;
	
	}

	.col-md-4 h3 {
		padding: 30px 0 30px 0;
		text-align: center;
		background-color: #163A5D;
		color: white;
		padding: 15px 14px 15px 14px;
		width: 90%;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.bio-col ul {
		width: 100px;
		border: 20px solid;
		text-align: center;

	}

	.bio-col li {
		list-style-type: none;
	    margin: 0;
	    padding-bottom: 15px;
	    margin-bottom: 15px;
	    line-height: 20px;
	    font-size: 16px;
	    text-align: center;
	    width: 250px;
	    position: relative;
	    left: 30px;

	}

	.bio-col {
		margin-top: 30px;
	}

	.bolden {
		font-size: 150% !important;
		margin-bottom: 10px !important;
	}



/* Our Solutions */


	#solutions {
		padding: 20px 60px 80px 60px;
		text-align: justify;
		font-size: 120%;
		color: #56554f;
		background-color: white;
		margin-bottom: 50px;
	}

	#solutions h1 {
		font-size: 60px;
		margin: 0px auto 100px auto;
		text-align: center !important;
		font-family: 'Varela Round', cursive;		
		z-index: 1;
	}


	#solutions p {
			line-height: 40px;
			margin: 0 auto 0 auto;
			width: 50%;
			text-align: center;

		}



/* Photo Row 

	.photorow {
		background-color: white !important;
		display: flex;
		border-radius: 0;
		margin-bottom: 50px;	
				
	} */

	.flex-container {
		display: flex;
		margin-bottom: 80px;
		justify-content: center;

	}

	.flex-container div {
		fl
	}

	.flex-item1{


	}

	.flex-item2 {

	}

	.flex-item3 {

	}


	img.col-md-4 {
		margin: 0 !important;
		padding: 0 !important;
		border-radius: 0;
		z-index: 90;
		width: 100%;
		opacity: 1;
		

	} 



	img.col-md-4:hover {
		opacity: 0.5;
		transition: all 0.7s ease-in-out 0s;
	    -webkit-transition: all 0.3s ease-in-out 0s;
	}










/* Strategic Relationships */

	#strategic {
		color: #56554f;
		padding-top: 60px;
		

	}

	#strategic h2 {
		font-size: 60px;
		margin: 0px auto 40px auto;
		text-align: center !important;
		font-family: 'Varela Round', cursive;		
		z-index: 1;
	}	

	#stratrel {
		margin: 0 auto 90px 0;
		text-align: center;
		font-size: 17px;
	}




	.allpartners {
		padding-bottom: 30px;
		width: 70%;
		margin: 0 auto;
		padding: 0px;
		background-color: #f4f4f4;
		border: #3375C3 dotted double 1px;
		border-radius: 2%;

	}


	img.partners {
		margin: 15px 20px;
		
	}

	.allpartners p {
		text-align: center !important;
		display: inline-table;
		margin: 20px 20px !important;

	}












	/* footer */

	.footer {
		height: 50px;
		background-color: #99bae1 !important;
		width: 100%;
		margin: 0;
		padding: 0;
		color: black !important;

	}

	.footer ul {
		margin:  0 auto;
		padding-top: 15px;
		text-align: center;
		font-family: 'Lato', sans-serif;
		color: black !important;
	}










	/* Fonts 

font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Varela Round', cursive;
font-family: 'Sedgwick Ave', cursive; 
font-family: 'Archivo Black', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Varela Round', sans-serif;   */ 



/* form */


/* form */


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}




#form {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 300px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 300px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 300px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {

  color: #e2dedb;
}


	/* Contact Us Form */

	.contactus {
		margin-top: 50px;
		

	}


	.contactus header {
		color: #56554f;
		font-size: 45px;
		margin: 0px auto;
		text-align: center !important;
		font-family: 'Varela Round', cursive;		
		z-index: 1;

	}



/* Responsive nav / Media Queries */
			

				@media screen and (max-width: 1200px) {

						  #header nav a {
								margin-left: 3px;
								margin-right: 3px;
								word-spacing: 1px;
							}


				
				@media screen and (max-width: 1000px) {
				  
				 
				 .logo {
				 	padding-top: 20px;
				 }

				 .logo img {
					max-width: 90%;

					}

				  #header nav a {
						margin-left: 6px;
						margin-right: 6px;
					}
				
				}


	@media screen and (max-width: 800px) {
				  

				  

				  #landing {
				  	width: 100%;

				  }

				  #landing h1 {
				  	margin-top: 140px;
				  	font-size: 35px !important;
				  }

				  .contactus header {
				  	font-size: 35px;
				  }




				  /* MENU */

				  /* Header */



				#header  {
					height: 300px;
					line-height: 20px;
					position: absolute;
					width: 100%;
					float: right !important;
					z-index: 1000;
					overflow: hidden;
					
					margin-bottom: 100px;
				}	

				

				

				#header nav a {
					display: inline-block;
					width: 100%;
					float: right;
					text-align: right;
					
					margin: 10px 12px 10px 0px;
					transition: 0.5s ease-in-out;
					-webkit-transition: 0.5s ease-in-out;
					-moz-transition: 0.5s ease-in-out;
					-ms-transition: 0.5s ease-in-out;		
				}

				#header nav a:hover {
					color: white;
					text-decoration: none;
					transition: 0.5s ease-in-out;
					-webkit-transition: 0.5s ease-in-out;
					-moz-transition: 0.5s ease-in-out;
					-ms-transition: 0.5s ease-in-out;		

				}

				#header nav a {
					transition: ease 0.3s !important;
					-webkit-transition: ease-in-out 0.3s !important;
					-moz-transition: ease-in-out 0.3s !important; 

				}

				#header nav a:active {
					color: black !important;
					transition: ease 0.1s !important;
					-webkit-transition: ease-in-out 0.3s !important;
					-moz-transition: ease-in-out 0.3s !important;

				}


				

			/* More header */


				.active {
					text-decoration: 0 !important;
				}




				#contac {
					padding: 6px;
					color: #337ab7;
					border: none!important;


				}

				#contac:hover {
					border: none!important;
				}

				#about p {
					width: 80%;
				

				}







				}












	@media screen and (max-width: 500px) {
				#landing h1 {
				  	font-size: 32px !important;
				  	letter-spacing: 1px;
				  	word-spacing: 1px;
				  }


	}
				

				


					




	